body {
    text-align: center;
    margin-top: 50px;
    background-image: url(/images/background.jpg);
    background-size: 100% 100%;
    color: wheat;
 }
 h1{
    color: black;
    border: 2px solid black;
    background-color: rgb(238, 98, 5);
    width: 50%;
    align-self: auto;
    text-align: center;
    margin-left: 350px;
    font-weight: bold;
 }
 section{
    
    color: black;
    font-style: italic;
    font-size: 50px;
    
    
    border-color: black;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    right: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 
 button{
    width: 2.5cm;
    height: 1cm;
    margin-left: 7cm;
    margin-right: 7cm;
    background-color: aquamarine;
    cursor: pointer;
    transition: 0.5s;
    
 }
 button:hover{
    background-color: grey;
    opacity: 0.8;
 }